<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
          <img src="https://scontent.fcpq3-1.fna.fbcdn.net/v/t1.6435-9/p526x296/172217880_3927952010634844_5075269448640899683_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeF-POlW-MSQrgetLckeLIA-O9E4mN5JSJc70TiY3klIl9BYeSomr68H8wrmqwdDiE5sQ1HoOZ0KjU3eSdEEiwjv&_nc_ohc=pcym1TrxqPEAX9Mxgku&_nc_ht=scontent.fcpq3-1.fna&oh=118e1ed45e53790c2f4ff846dd8319f5&oe=61CCF7D0" alt="Imagem do usuário" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item pl-3">
          <p class="m-3 font-weight-bold text-white">Nome do Usuário(a)</p>
        </li>
        <li class="nav-item pl-3">
          <a href=""></a>
          <p class="text-white m-0"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto d-flex align-items-end">
        <li class="nav-item pl-3">
          <a class="m-3 font-weight-bold text-white">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
    </ul>

    </div>
  </nav>
